In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
### Store CSV into DataFrame

csv_file = "Resources/world_pop.csv"
world_pop_df = pd.read_csv(csv_file)
world_pop_df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1438207241,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1377233523,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,330610570,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,272931713,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,219992900,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [9]:
### Create new data with select columns
world_pop_col = ['Country (or dependency)', 'Population (2020)', 'Land Area (Km²)', 'Density (P/Km²)', 'World Share']
new_world_pop_df = world_pop_df[world_pop_col].copy()
new_world_pop_df.head()

,Country (or dependency),Population (2020),Land Area (Km²),Density (P/Km²),World Share
0,China,1438207241,9388211,153,18.47 %
1,India,1377233523,2973190,464,17.70 %
2,United States,330610570,9147420,36,4.25 %
3,Indonesia,272931713,1811570,151,3.51 %
4,Pakistan,219992900,770880,287,2.83 %

In [40]:
### Rename columns, set index, add commas to numbers for readability

renamed_world_pop_df = new_world_pop_df.rename(columns={'Country (or dependency)': 'country', 
                                                         'Population (2020)': 'population', 
                                                         'Density (P/Km²)': 'density', 
                                                         'Land Area (Km²)': 'land_area', 
                                                         'World Share': 'world_percentage'})
renamed_world_pop_df.set_index("country", inplace=True)

# renamed_world_pop_df = renamed_world_pop_df.astype('object')#.dtypes
# print(renamed_world_pop_df.dtypes)
renamed_world_pop_df.population = renamed_world_pop_df.population.apply(lambda x : "{:,}".format(x))
renamed_world_pop_df.land_area = renamed_world_pop_df.land_area.apply(lambda x : "{:,}".format(x))

renamed_world_pop_df.head()
# print(renamed_world_pop_df.dtypes)

                  population  land_area  density world_percentage
country
China          1,438,207,241  9,388,211      153          18.47 %
India          1,377,233,523  2,973,190      464          17.70 %
United States    330,610,570  9,147,420       36           4.25 %
Indonesia        272,931,713  1,811,570      151           3.51 %
Pakistan         219,992,900    770,880      287           2.83 %

In [ ]:
### Clean DataFrame

new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
new_customer_location_df.head()

In [ ]:
### Connect to local database

rds_connection_string = "postgres:postgres@bootcamp.cbtoq3riq9z0.us-west-1.rds.amazonaws.com:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
### Check for tables

engine.table_names()

In [ ]:
### Use pandas to load csv converted DataFrame into database

new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

In [ ]:
### Use pandas to load json converted DataFrame into database

new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

In [ ]:
### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

pd.read_sql_query('select * from customer_name', con=engine).head()

In [ ]:
### Confirm data has been added by querying the customer_location table

pd.read_sql_query('select * from customer_location', con=engine).head()